### Verify

The long term goals of the Verify group are:

1. Be the tool of choice for groups that want to reduce their lead time for changes to under an hour.
1. Provide 100% automated setup, configuration, scaling and management of GitLab Runners for medium to large enterprises.

To accomplish these goals we will focus on the themes and opportunities of mutli-platform support, Machine Learning , CI/CD analytics and test run parallelization.

Users of Verify's CI solution can expect us to invest heavily in multi-platform support making it just as easy to build on and for Windows and MacOS as it is to build on Linux today with GitLab. We will continue to invest to make building and managing powerful CI/CD pipelines easier with features like [child/parent pipelines](https://gitlab.com/gitlab-org/gitlab/issues/16094) and [cartesian products for jobs](https://gitlab.com/gitlab-org/gitlab/issues/15356).

There is also an opportunity for us to take advantage of emerging AI and ML technologies to provide leverage to customers storing and building their source code within GitLab. We can see opportunities like dynamically modifying the order of unit tests to [run the most likely to fail first](https://gitlab.com/groups/gitlab-org/-/epics/1941). You can even imagine a future where [GitLab offers suggestions of code improvements](https://gitlab.com/gitlab-org/gitlab/issues/33930) thereby accelerating the payment of tech debt and allowing the team to solve more problems that deliver value. While these examples are specific to [Unit Testing](https://about.gitlab.com/direction/verify/unit_testing/) we think this approach can apply to any of the testing categories. 

Apart from leveraging ML/AI to make pipelines better, we also want to do more to support projects that are leveraging ML/AI technologies. We are collecting ideas on how to do this in our epic about [making ML/AI workflows easier](https://gitlab.com/groups/gitlab-org/-/epics/2436), and [adding the ability to install industry leading applications like Kubeflow](https://gitlab.com/gitlab-org/gitlab/issues/197424) to your Kubernetes clusters. Delivering on these will be a priority for us in the very near term.

We also want to improve how we present and let users act on interesting data from jobs and their performance to improve the efficiency of pipelines. Our [epic for CI/CD analytics](https://gitlab.com/groups/gitlab-org/-/epics/358) captures some of the important metrics we've identified so far and we believe can be acted on by users or even GitLab itself. Features like [automatically tuning parallelization of your test runs](https://gitlab.com/gitlab-org/gitlab/issues/12282) or self-healing pipelines that adapt to changes automatically are ways we think we can help teams improve their performance without having to do it themselves.


- See a high-level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Averify)
- Stage usage can be tracked at the Verify [SMAU (Stage Monthly Active Users) Dashboard](https://app.periscopedata.com/app/gitlab/456428/Verify-Stage-Dashboard)

- See a high-level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Averify)
- Stage usage can be tracked at the Verify [SMAU (Stage Monthly Active Users) Dashboard](https://app.periscopedata.com/app/gitlab/456428/Verify-Stage-Dashboard)

The Verify stage is made up of several categories:

<%= partial("direction/categories-content", :locals => { :stageKey => "verify" }) %>
